body{
    background-color: rgba(255, 196, 0, 0.61);
    padding: 1vw;
}


.container {
    width:100%;
    margin: 0 auto;
    padding:10px;
    padding-bottom: 0%;
}

.ComprarButton{
  font-size: 2rem;
  background-color: red;
  padding:1vh;
  color:yellow;
  border: solid;
  border-color: yellow;
  border-radius: 20px;
}

.row {
    width:100%;
    margin-bottom:10px;
    padding:10px;
    height: auto;
}

.SecondDivision{
  padding-top: 5vh;
}

#Comidas{
    padding-top: 10vh;
}

.ImgScrollingComida{
    border-style: solid;
    border-radius: 5vh;
} 

.ComidaInfo{
  margin-bottom: 5vh;
width: 100%;
}
.ComidaName{
  padding-top: 3.5vh;
  margin-bottom: 5vh;
  font-weight: bolder;
  color:red;
  font-size: 1.5rem;

}

.ImgScrollingComida{
    width: 400px;
    height: 200px;
}

.Link{
  text-decoration: none;
  color: black;
}



.ComidaNome{
  font-size: 1rem;
}

.ImgScrollingRestaurante{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 6vw;

}

.ImgScrollingRestauranteName{
  margin-right:1vh;
text-align: center;

}



#RestauranteNome{
  font-size: 0.8rem;
  font-weight: bolder;
  text-align: center;
}
.Ad-Image{
  width: 80vw;
  height: 20vh;
  border-radius: 10px;
    display: block;
  margin: auto;
}
.Ad-container{
  text-align: center;
  margin: 20px;
object-position: center;

}   


#Titulo{
font-size: 5vw;
text-align: center;
padding-bottom: 5vh;
font-weight: bolder;
}

#Subtitulo{
    font-size: 3vw;
    padding-left: 5vw;
} 

.SubtituloRestaurante{
    font-size:2rem;
    padding-left: 5vw;
}
.Title{
  text-align: center;
  font-weight: bold;
}