body{
    background-color: rgba(255, 166, 0, 0.76);
    padding: 1vw;
}


.container {
    width:100%;
    padding:10px;
    padding-bottom: 0%;
}

.ComprarButton{
  font-size: 2rem;
  background-color: red;
  padding:1vh;
  color:yellow;
  border: solid;
  border-color: yellow;
  border-radius: 20px;
}

.ComidaContainer{
font-size: large;
font-weight: bold;
color:black;

}

.row {
    width:100%;
    margin-bottom:10px;
    padding:10px;
    height: auto;
}

.SecondDivision{
  padding-top: 5vh;
}




.ComidaInfo{
margin-bottom: 5vh;
width: 100%;
}
.ComidaName{
  padding-top: 3.5vh;
  margin-bottom: 5vh;
  font-weight: bolder;
  color:red;
  font-size: 1.5rem;

}


.Link{
  text-decoration: none;
  color: black;
}


#Titulo{
font-size: 5vw;
text-align: center;
padding-bottom: 5vh;
font-weight: bolder;
}

#Subtitulo{
    font-size: 3vw;
    padding-left: 5vw;
} 

.SubtituloRestaurante{
    font-size:2rem;
    padding-left: 5vw;
}
.Title{
  text-align: center;
  font-weight: bold;
}