body{
    background-color: rgba(255, 196, 0, 0.61);
    padding: 1vw;
}

.container {
    width:100%;
    margin: 0 auto;

    padding-bottom: 0%;
}

.row {
    width:100%;
    margin-bottom:10px;

    height: auto;
}


/*MAIN PAGE START*/

.Title{
  text-align: center;
  font-weight: bold;
}

#Subtitulo{
    font-size: 3vw;
    padding-left: 5vw;
} 

.Ad-Image{
  width: 70vh;
  height: 20vh;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.Ad-container{
  text-align: center;
  margin: 20px;
object-position: center;
}   

/*MAIN PAGE END*/

/*COMIDA START*/
#Comidas{
    padding-top: 10vh;
    align-items: center;
}

.ImgScrollingComida{
    border-style: solid;
    border-radius: 5vh;
    margin:auto
} 

.ComidaContainer{
background-color: yellow;
margin:auto;
margin-bottom: 5vh;
width:auto;
}

.ComidaName{
  margin-bottom: 5vh;
  font-weight: bolder;
  color:red;
  font-size: 1.5rem;

}

.ComidaInfo{
  margin-top: 3vh;
  font-weight: bold;

}

.ImgScrollingComida{
    width: 400px;
    height: 200px;
}

.Link{
  text-decoration: none;
  color: black;
}

/*COMIDA END*/

/*RESTAURANTE START*/
.ImgScrollingRestaurante{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 6vw;

}

.ImgScrollingRestauranteName{
  margin-right:1vh;
text-align: center;
}

#RestauranteNome{
  font-size: 0.8rem;
  font-weight: bolder;
  text-align: center;
}

.SubtituloRestaurante{
    font-size:2rem;
    padding-left: 5vw;
}
